In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from  sklearn.datasets import make_regression
import pandas as pd    
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# imports for data generator module
import sys
sys.path.append('../modules')
import mods as md

In [3]:
# create dataset
df = md.generate_data(sample_size=1000, 
                      n_features=8, 
                      informative_features=5, 
                      redundant_features=3, 
                      n_target=2, 
                      n_target_flip=0.1, 
                      random_state=1, 
                      pred_ease=0.5, 
                      col_prefix='var_') 
                      #target_weight=None)
df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,target,id
0,1.030820,-2.700360,-0.341846,0.436398,0.171661,-2.948339,-1.142068,-1.854304,1,0
1,0.775542,-1.583614,2.212314,0.618942,2.775730,-0.654330,-1.148943,-0.500730,0,1
2,0.759473,0.687278,0.792127,0.617141,0.016532,0.086734,-0.660310,-0.566692,0,2
3,-0.726106,0.360325,1.434604,0.086549,3.251821,1.053089,-2.782348,-0.384334,0,3
4,-0.110320,-0.550821,-1.444378,-1.355118,0.658890,-1.181785,-0.170216,2.618386,1,4

In [4]:
df['target'].value_counts()

0    586
1    414
Name: target, dtype: int64

In [5]:
df2 = md.create_clusters(df=df, 
                       cluster_features=['var_0','var_1','var_5'], 
                       n_clusters=2, 
                       cluster_col_name='race', 
                       tool='kmeans')
df2['race'].value_counts()

clustering based on KMEANS

1    570
0    430
Name: race, dtype: int64

In [47]:
df2[['race','target']].corr()

           race   target
race    1.00000 -0.12379
target -0.12379  1.00000

In [6]:
p = pd.pivot_table(df2,index=['race'],
               values=['target',],
               aggfunc=['mean'])
p

          mean
        target
race
0     0.337209
1     0.471930

In [7]:
.34/.47

0.723404255319149

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

logr = LogisticRegression()
rforest = RandomForestClassifier()

In [9]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, balanced_accuracy_score
def get_accuracy(y_true, y_predict):
    return accuracy_score(y_true, y_predict)

def get_balanced_accuracy(y_true, y_predict):
    return balanced_accuracy_score(y_true, y_predict)

In [10]:
X = df2.drop(['target','id','race'],1)
y = df2['target']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [12]:
logr.fit(X_train, y_train)
logr_pred = logr.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, logr_pred))

test_accuracy:  0.7166666666666667

In [13]:
rforest.fit(X_train, y_train)
rforest_pred = rforest.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, rforest_pred))

test_accuracy:  0.7966666666666666

In [14]:
df2['race_string'] = np.where(df2['race']==1, 'majority', 'minority')
df2['race_string'].value_counts()

majority    570
minority    430
Name: race_string, dtype: int64

In [15]:
df2.to_csv('../output/dataset2.csv', index=False)