In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import numpy as np
import pandas as pd
import sys
sys.path.append('../modules')
import aftSandBox as sb

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [4]:
sb. create_dataset(sample_sizes=[2000, 5000, 10000, 15000, 20000], 
                   n_features=10, 
                   n_informative=10, 
                   n_classes=2, 
                   class_separations=[0.05, 0.1, 0.5, 1, 5, 10, 15, 20], 
                   p_weights=[0.55, 0.35, 0.10], 
                   p_feature_size=3, 
                   p_informative=3, 
                   p_label='gender', 
                   save_path='../study_3', 
                   log=True)

grab a cup of coffee. this might take a while :)
working on sample size: 2000
working on sample size: 5000
working on sample size: 10000
working on sample size: 15000
working on sample size: 20000

In [1]:
# check dataset
df = pd.read_csv('../output/sample_5000_sep_0.1.csv')
df.keys()

NameError: name 'pd' is not defined

In [9]:
df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,accept,sample_id,proc_feature_0,proc_feature_1,proc_feature_2,gender,protected_id
0,0.326235,0.974202,-0.042332,-0.668869,0.802889,-0.123868,-0.041416,-0.982952,-0.163535,0.667895,1,0,-0.098616,-0.122678,-0.483986,0,0
1,0.969293,2.996893,2.983787,-3.092499,1.228773,-1.895596,-2.384580,1.605259,0.540517,-1.770344,1,1,1.656381,-2.363797,-1.953936,0,1
2,0.657665,2.036290,-0.246783,0.435248,2.020841,-1.463851,2.279333,-0.835014,0.918701,1.502132,0,2,-1.765502,-1.098466,1.273632,1,2
3,-0.954182,-0.524317,0.899419,-1.248206,-1.268580,0.644063,-2.280062,0.229774,-0.125410,-1.637691,1,3,0.090341,-0.417818,0.981393,1,3
4,-0.410376,1.570919,3.712006,-0.492656,1.152787,-1.733691,0.427069,-0.146154,0.033892,-1.457098,0,4,1.509980,0.768171,1.080376,0,4

In [10]:
df['gender'].value_counts()

gender
0    2738
1    1747
2     515
Name: count, dtype: int64

In [8]:
df[['var_0', 'var_1', 'var_2', 'var_3', 'var_4', 'var_5', 'var_6', 'var_7','var_8', 'var_9','proc_feature_0','proc_feature_1', 'proc_feature_2', 'gender','accept']].corr()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,proc_feature_0,proc_feature_1,proc_feature_2,gender,accept
var_0,1.000000,0.098599,-0.093189,0.249558,0.199608,0.057527,0.434760,0.162441,0.200398,0.213781,-0.001583,-0.021420,0.012168,0.011709,-0.013478
var_1,0.098599,1.000000,-0.179424,-0.028913,0.111630,-0.174310,0.076319,0.133602,-0.055472,0.075719,0.004680,-0.002623,0.004596,0.009961,-0.040703
var_2,-0.093189,-0.179424,1.000000,-0.088024,-0.043503,-0.057310,-0.146332,0.039728,-0.020651,-0.258125,0.019467,0.012567,-0.004428,-0.015676,-0.071926
var_3,0.249558,-0.028913,-0.088024,1.000000,-0.209869,0.083818,0.379308,0.230474,0.150726,0.222721,-0.023019,0.007914,-0.009679,0.016516,0.004493
var_4,0.199608,0.111630,-0.043503,-0.209869,1.000000,-0.033919,-0.125988,-0.300995,0.087742,-0.115058,0.003406,-0.006288,0.017019,0.002885,0.054093
var_5,0.057527,-0.174310,-0.057310,0.083818,-0.033919,1.000000,-0.009373,0.008393,-0.030339,-0.081574,0.003492,-0.001200,-0.007682,0.011431,-0.009235
var_6,0.434760,0.076319,-0.146332,0.379308,-0.125988,-0.009373,1.000000,0.104780,0.020446,0.143839,-0.016736,-0.019251,-0.006788,0.012282,-0.003043
var_7,0.162441,0.133602,0.039728,0.230474,-0.300995,0.008393,0.104780,1.000000,0.106123,0.054463,-0.002450,-0.010260,0.002446,0.005370,0.005779
var_8,0.200398,-0.055472,-0.020651,0.150726,0.087742,-0.030339,0.020446,0.106123,1.000000,0.155671,-0.005532,0.014877,0.006435,0.021732,0.037113
var_9,0.213781,0.075719,-0.258125,0.222721,-0.115058,-0.081574,0.143839,0.054463,0.155671,1.000000,0.007837,-0.017168,0.001176,-0.013942,0.052277
proc_feature_0,-0.001583,0.004680,0.019467,-0.023019,0.003406,0.003492,-0.016736,-0.002450,-0.005532,0.007837,1.000000,0.233509,0.183565,-0.450501,-0.018487
proc_feature_1,-0.021420,-0.002623,0.012567,0.007914,-0.006288,-0.001200,-0.019251,-0.010260,0.014877,-0.017168,0.233509,1.000000,0.019389,0.015310,-0.007592
proc_feature_2,0.012168,0.004596,-0.004428,-0.009679,0.017019,-0.007682,-0.006788,0.002446,0.006435,0.001176,0.183565,0.019389,1.000000,-0.162434,-0.024635
gender,0.011709,0.009961,-0.015676,0.016516,0.002885,0.011431,0.012282,0.005370,0.021732,-0.013942,-0.450501,0.015310,-0.162434,1.000000,0.041373
accept,-0.013478,-0.040703,-0.071926,0.004493,0.054093,-0.009235,-0.003043,0.005779,0.037113,0.052277,-0.018487,-0.007592,-0.024635,0.041373,1.000000

In [12]:
pd.pivot_table(df,
               index=['gender'],
               values=['accept'],
               aggfunc=['mean'],
)

            mean
          accept
gender
0       0.476625
1       0.524327
2       0.520388