In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from  sklearn.datasets import make_regression
import pandas as pd    
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# imports for data generator module
import sys
sys.path.append('../modules')
import mods as md

In [3]:
# create dataset
df = md.generate_data(sample_size=1000, 
                      n_features=8, 
                      informative_features=5, 
                      redundant_features=3, 
                      n_target=2, 
                      n_target_flip=0.1, 
                      random_state=1, 
                      pred_ease=4, 
                      col_prefix='var_') 
                      #target_weight=None)
df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,target,id
0,4.530820,-6.200360,3.158154,2.727279,3.296195,-6.845206,-4.642068,-5.354304,1,0
1,4.275542,1.916386,5.712314,1.303762,6.286223,-0.443267,-4.648943,2.999270,0,1
2,4.259473,-2.812722,4.292127,3.470249,-1.720980,-2.265915,2.839690,-4.066692,0,2
3,2.773894,3.860325,4.934604,0.771370,6.762314,1.264152,-6.282348,3.115666,0,3
4,3.389680,-4.050821,-4.944378,-3.122066,1.542793,-9.232040,-3.670216,6.118386,1,4

In [4]:
df['target'].value_counts()

0    586
1    414
Name: target, dtype: int64

In [5]:
df2 = md.create_clusters(df=df, 
                       cluster_features=['var_0','var_4','var_3'], 
                       n_clusters=2, 
                       cluster_col_name='race', 
                       tool='kmeans')
df2['race'].value_counts()

clustering based on KMEANS

1    682
0    318
Name: race, dtype: int64

In [6]:
df2[['race','target']].corr()

            race    target
race    1.000000  0.329811
target  0.329811  1.000000

In [7]:
p = pd.pivot_table(df2,index=['race'],
               values=['target',],
               aggfunc=['mean'])
p

          mean
        target
race
0     0.176101
1     0.524927

In [8]:
.18/.52

0.34615384615384615

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

logr = LogisticRegression()
rforest = RandomForestClassifier()

In [10]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, balanced_accuracy_score
def get_accuracy(y_true, y_predict):
    return accuracy_score(y_true, y_predict)

def get_balanced_accuracy(y_true, y_predict):
    return balanced_accuracy_score(y_true, y_predict)

In [11]:
X = df2.drop(['target','id','race'],1)
y = df2['target']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [13]:
logr.fit(X_train, y_train)
logr_pred = logr.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, logr_pred))

test_accuracy:  0.9466666666666667

In [14]:
rforest.fit(X_train, y_train)
rforest_pred = rforest.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, rforest_pred))

test_accuracy:  0.9466666666666667

In [15]:
df2['race_string'] = np.where(df2['race']==1, 'majority', 'minority')
df2['race_string'].value_counts()

majority    682
minority    318
Name: race_string, dtype: int64

In [16]:
df2.to_csv('../output/dataset1.csv', index=False)