In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from  sklearn.datasets import make_regression
import pandas as pd    
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# imports for data generator module
import sys
sys.path.append('../modules')
import mods as md

In [3]:
# create dataset
df = md.generate_data(sample_size=1000, 
                      n_features=8, 
                      informative_features=5, 
                      redundant_features=3, 
                      n_target=2, 
                      n_target_flip=0.4, 
                      random_state=1, 
                      pred_ease=0.5, 
                      col_prefix='var_', 
                      target_weight=None)
df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,target,id
0,-1.975243,1.557541,1.310879,-1.534616,-0.992461,-1.430650,-1.381833,-1.236911,1,0
1,-0.336595,0.661430,-0.594174,-0.395712,-1.726424,3.235802,3.031592,0.317949,0,1
2,1.507141,0.178155,3.084860,0.022601,-0.378209,0.739125,0.060548,-2.093390,1,2
3,-0.325510,0.414466,0.756271,-0.435419,-0.373922,-0.412957,-0.773985,-0.268729,1,3
4,1.884774,0.663888,0.734704,0.933428,2.221682,0.078681,2.168926,-1.713323,1,4

In [4]:
df['target'].value_counts()

1    501
0    499
Name: target, dtype: int64

In [30]:
df2 = md.create_clusters(df=df, 
                       cluster_features=['var_0','var_1','var_3'], 
                       n_clusters=2, 
                       cluster_col_name='race', 
                       tool='kmeans')
df2['race'].value_counts()

clustering based on KMEANS

1    648
0    352
Name: race, dtype: int64

In [31]:
df2[['race','target']].corr()

            race    target
race    1.000000 -0.090655
target -0.090655  1.000000

In [32]:
p = pd.pivot_table(df2,index=['race'],
               values=['target',],
               aggfunc=['mean'])
p

          mean
        target
race
0     0.562500
1     0.467593

In [18]:
.45/.55

0.8181818181818181

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

logr = LogisticRegression()
rforest = RandomForestClassifier()

In [46]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, balanced_accuracy_score
def get_accuracy(y_true, y_predict):
    return accuracy_score(y_true, y_predict)

def get_balanced_accuracy(y_true, y_predict):
    return balanced_accuracy_score(y_true, y_predict)

In [47]:
X = df2.drop(['target','id','race'],1)
y = df2['target']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [49]:
logr.fit(X_train, y_train)
logr_pred = logr.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, logr_pred))

test_accuracy:  0.8133333333333334

In [50]:
rforest.fit(X_train, y_train)
rforest_pred = rforest.predict(X_test)
print('test_accuracy: ', get_accuracy(y_test, rforest_pred))

test_accuracy:  0.78

In [51]:
df2.to_csv('../output/dataset3.csv', index=False)